.container {
  text-align: center;
  padding: 20px;
  margin: 2% 35%;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
}

#content {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-left: 10px;
  margin: 0 auto;
  margin-bottom:15px;
  display: block;
  font-size: 1rem;
  width: 40%;
}

.submitBtn {
  margin: 0 auto;
  display: block;
  width: 40%;
  padding: 10px;
  border-radius: 1px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 15px -7px rgba(0,0,0,.65);
  background-color: limegreen;
  border-radius: 4px;
  cursor: pointer;
}

.postBody {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50%;
}

.content{
  font-size: 1.5rem;
  font-weight: bold;
}

.allPosts {
  margin-top: 4%;
}

@media (min-device-width: 600px) and (max-device-width: 800px){
  .postBody {
    display: flex;
    padding: 20px;
    width: 70%;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
  }
}

@media (max-device-width: 600px){
  .postBody {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
  }
}