.container{
  margin: 10% auto;
  border-radius: 7%;
  box-shadow: 1px 1px 20px 2px #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  padding-top: 20px;
  padding-bottom: 40px;
}

#loginMsg {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.submit {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 15px -7px rgba(0,0,0,.65);
  background-color: #37ec1d;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  box-shadow: 1px 1px 18px -5px rgba(0,0,0,.65);
}

@media (min-device-width: 600px) and (max-device-width: 1000px){
  .container{
    width: 50%;
  }
}

@media (max-device-width: 600px){
  .container{
    width: 80%;
  }
}