.assignment{
  padding: 20px;
  margin: 2% 25%;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
}
.input {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 1rem;
  width: 70%;
}
.submitBtn {
  height: 40px;
  padding: 10px;
  border-radius: 1px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 15px -7px rgba(0,0,0,.65);
  background-color: limegreen;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

@media (min-device-width: 600px) and (max-device-width: 800px) {
  .assignment{
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
  }
}

@media (max-device-width: 600px) {
  .assignment{
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.65);
  }

  .input{
    width: 50%;
  }
}